body{
    color: blue;
    max-width: 150vh;
    font-family: Trebuchet MS, sans-serif;
    background-color: honeydew
}

header{
    grid-area: header;
}

#footer{
    grid-area: footer;
}

.main{
    max-width: 150vh;
    display: grid;
    grid-area: main_content;
    grid-template-areas:  "content" "the_map";
    font-family: Trebuchet MS, sans-serif;
}

#the_map{
    height:80vh;
    width: 150vh;
    grid-area: the_map;
}

#contents{
    grid-area: content;
}
